<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnonInbox | Atur Ulang Sandi</title>
</head>
<body>
    <p>
        Kamu mengatur ulang sandi akun AnonInbox.
        Silakan melakukan pengaturan ulang sandi melalui tautan berikut.
    </p>
    <div>
        <a href="http://localhost:3000/users/password-reset/check?email={{email}}&token={{token}}">
            <button>Reset</button>
        </a>
    </div>
    <p>
        Abaikan surel ini jika kamu tidak pernah ingin mengatur ulang sandi.
        Jangan pernah berikan tautan kepada siapapun.
    </p>
</body>
</html>