<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnonInbox | Verifikasi Akun</title>
</head>
<body>
    <p>
        Kamu mendaftar ke aplikasi AnonInbox dengan email .
        Silakan melakukan verifikasi akun melalui tautan berikut.
    </p>
    <div>
        <a href="https://www.anoninbox.web.id/users/user-verification/check?email={{email}}&token={{token}}">
            <button>Verify</button>
        </a>
    </div>
    <p>
        Abaikan surel ini jika kamu tidak pernah merasa mendaftar.
        Jangan pernah berikan tautan kepada siapapun.
    </p>
</body>
</html>